<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
	<div class="container">

		<form th:action="@{/admin/login}"method="post" >
			
			<div th:if="${param.error}">
				<div class="alert alert-danger">
					Invalid Username or Password
				</div>
			</div>
			
			<div th:if="${param.logout}">
				<div class="alert alert-info">
					You have been logged out
				</div>
			</div>
			
			<div class="form-group">
				<label for="username">Email address:</label> <input type="email"
					name="username" class="form-control" placeholder="Enter email" id="username">
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label> <input type="password"
					name="password" class="form-control" placeholder="Enter password" id="pwd">
			</div>
			<div class="form-group form-check">
				<label class="form-check-label"> <input
					class="form-check-input" type="checkbox"> Remember me
				</label>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>
</body>
</html>