<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Shopping</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon"
	href="/client/assets/img/favicon.ico">

<!-- CSS here -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="/client/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/client/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/client/assets/css/flaticon.css">
<link rel="stylesheet" href="/client/assets/css/slicknav.css">
<link rel="stylesheet" href="/client/assets/css/animate.min.css">
<link rel="stylesheet" href="/client/assets/css/magnific-popup.css">
<link rel="stylesheet" href="/client/assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/client/assets/css/themify-icons.css">
<link rel="stylesheet" href="/client/assets/css/slick.css">
<link rel="stylesheet" href="/client/assets/css/nice-select.css">
<link rel="stylesheet" href="/client/assets/css/style.css">
</head>

<body>
	<!--? Preloader Start -->
	<div id="preloader-active">
		<div
			class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<img src="/client/assets/img/logo/logo.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<div th:insert="/client/fragment :: headerBox"></div>

	<main>

		<div class="hero-cap text-center">
			<h2  style="margin: 40px auto;">LIST PRODUCT IN YOUR CART</h2>
		</div>

		<section class="cart_area" style="margin: 40px auto;">
			<div class="container">
				<div class="cart_inner">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Product</th>
									<th scope="col">Price</th>
									<th scope="col">Quantity</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cartItemDTO : ${cartItemDTOs}">
									<td>
										<div class="media">
											<div class="d-flex">
												<img th:src="${cartItemDTO.productDTO.picture}" alt="" />
											</div>
											<div class="media-body">
												<p th:text="${cartItemDTO.productDTO.name}"></p>
											</div>
										</div>
									</td>
									<td>
										<h5
											th:text="${#numbers.formatDecimal(cartItemDTO.productDTO.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></h5>
									</td>
									<td>
										<form
											th:action="@{/update-cart/{id}(id=${cartItemDTO.id})}"
											method="post">

											<input name="quantity" type="number" th:value="${cartItemDTO.quantity}"
												min="0" max="100">
											<button class="genric-btn success circle">Cập nhật</button>
										</form>
									</td>
									<td>
										<h5
											th:text="${#numbers.formatDecimal(cartItemDTO.quantity * cartItemDTO.productDTO.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></h5>
									</td>
								</tr>

								
								<tr>
									<td></td>
									<td></td>
									<td>
										<h5>Subtotal</h5>
									</td>
									<td>
										<h5 th:text="${#numbers.formatDecimal(totalPriceOfCart, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></h5>
									</td>
								</tr>

							</tbody>
						</table>
						<div class="checkout_btn_inner float-right">
							<a class="btn_1" th:href="@{/}">Continue Shopping</a> <a
								class="btn_1 checkout_btn_1" th:href="@{/checkout}">Proceed
								to checkout</a>
						</div>
					</div>
				</div>
		</section>


		<div class="shop-method-area">
			<div class="container">
				<div class="method-wrapper"></div>
			</div>
		</div>
		<!-- Shop Method End-->
	</main>


	<div th:insert="/client/fragment :: footerBox"></div>

	<div th:insert="/client/fragment :: searchBox"></div>

	<!-- JS here -->
	<!-- All JS Custom Plugins Link Here here -->
	<script src="/client/assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script src="/client/assets/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="/client/assets/js/popper.min.js"></script>
	<script src="/client/assets/js/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="/client/assets/js/jquery.slicknav.min.js"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="/client/assets/js/owl.carousel.min.js"></script>
	<script src="/client/assets/js/slick.min.js"></script>

	<!-- One Page, Animated-HeadLin -->
	<script src="/client/assets/js/wow.min.js"></script>
	<script src="/client/assets/js/animated.headline.js"></script>
	<script src="/client/assets/js/jquery.magnific-popup.js"></script>

	<!-- Scroll up, nice-select, sticky -->
	<script src="/client/assets/js/jquery.scrollUp.min.js"></script>
	<script src="/client/assets/js/jquery.nice-select.min.js"></script>
	<script src="/client/assets/js/jquery.sticky.js"></script>

	<!-- contact js -->
	<script src="/client/assets/js/contact.js"></script>
	<script src="/client/assets/js/jquery.form.js"></script>
	<script src="/client/assets/js/jquery.validate.min.js"></script>
	<script src="/client/assets/js/mail-script.js"></script>
	<script src="/client/assets/js/jquery.ajaxchimp.min.js"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script src="/client/assets/js/plugins.js"></script>
	<script src="/client/assets/js/main.js"></script>

</body>
</html>